@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SFproRegular";
  src: url("/fonts/SFproRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SFproRegular", sans-serif;
  background-color: #F8F5F0;
}

@layer components {
  .primary-btn {
    @apply px-5 py-2 rounded-full bg-primary text-black hover:text-white hover:shadow-lg duration-200
  }
}

@layer utilities {
  .shadow-inset {
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2), 
                inset -4px -4px 10px rgba(255, 255, 255, 0.2);
  }
}